* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html {
	font-size: 10px;
	font-family: 'Montserrat', sans-serif;
	scroll-behavior: smooth;
}

img {
	height: 100%;
	width: 100%;

}

.home {
	height: 500px;
}
.nav-home {
	font-size: 2.2rem;
	padding-left: 20px;
}
.about{
	height:500px;
}
p {
	color: black;
	font-size: 1.4rem;
	margin-top: 5px;
	line-height: 2.5rem;
	font-weight: 300;
	letter-spacing: 0.05rem;
}

a {
	text-decoration: none;
	font-size: 1rem;
}

.container {
	min-height: 100vh;
	width: 100%;
	text-align: center;
	margin: 0 auto;
	text-align: center;
	align-items: center;
}

.title {
	font-size: 4rem;
	font-weight: 300;
	color: black;
	margin-bottom: 10px;
	text-transform: uppercase;
	letter-spacing: 0.1rem;
	margin: 0 auto;
	text-align: center;
	align-items: center;
}

.header {
	position: fixed;
	z-index: 1000;
	left: 0;
	top: 0;
	width: 100vw;
	min-height: 10px;
	background-color: white;
	box-shadow: 0px 3px 2px 0px rgba(0,0,0,0.1);}

.nav-bar {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	height: 100%;
	max-width: 1300px;
	padding: 0 10px;
}

.nav-list ul li {
	display: inline-block;
}

.nav-list ul a {
	letter-spacing: 0.2rem;
	color: darkblue;
	padding: 20px;
	display: block;
}

.nav-home a {
	font-size: 2.2rem;
}

.second-container {
	margin-left: 400px;
	margin-right: 400px;
}

.image {
	padding-top: 20px;
	height: 50%;
	width: 50%;
	border-top: 20%;
	border-radius: 10%;
}

.classes {
	flex-direction: column;
	text-align: center;
	margin: 0 auto;
	padding: 100px 0;
}

.class-items {
	display: flex;
	justify-content: space-evenly;
	border-radius: 5px;
}

.class-item{
	width:25%;
	height:35%;
}

.about {
	text-align: center;
	margin: 0 auto;
}

.imgs {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin: 0 auto;
	justify-content: center;
}

.img {
	text-align: center;
	height: 250px;
	width: 250px;
	margin: 20px;
	border-radius: 2rem;
}

.footer {
	background-color: white;
	min-height: 10px;
	flex-direction: column;
	padding: 10px;
	display: flex;
	position:fixed;
	left:0;
	bottom:0;
	box-shadow: 0px -4px 5px 0px rgba(0,0,0,0.3);
}

.icons {
	height: 50px;
	width: 50px;
}

@media only screen and (max-width:800px){
	.header{
		display:none;
	}
	.home{
		height:300px;
	}
	.image{
		height:70%;
		width:70%;
	}
	.classes{
		height:1600px;
	}
	.about{
		height:1600px;
	}
	.imgs{
		flex-direction: column;
	}
	.class-items{
		flex-direction: column;
		align-items: center;
		justify-content: space-evenly;
	}
	.class-item{
		width:70%;
		margin-bottom:20px;
	}
}
@media only screen and (min-width:801px) and (max-width:1200px){
	
	.home{
		height:500px;
	}
	.imgs{
		flex-direction: row;
	}
	.class-items{
		flex-direction: row;
		align-items: center;
		justify-content: space-evenly;
	}
	.class-item{
		width:20%;
	}

}